#header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #90ee90;
  margin-bottom: 5px;
}
.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #2aaa2a;
}
.img-logo {
  border-radius: 50%;
  margin-left: 50px;
  width: 100px;
  height: 100px;
}
.search-bar {
  display: flex;
  margin-top: 20px;
  color: #2aaa2a;
}
.input {
  padding-left: 10px;
  margin-right: 15px;
  margin-left: 100px;
  height: 50px;
  width: 250px;
}
.btn-search {
  border: 1px, solid, black;
  border-radius: 5%;
  background-color: #90ee90;
  height: 50px;
  width: 100px;
}
.nav-items {
  margin-top: 20px;
}
.nav-items > ul {
  margin-right: 50px;
  display: flex;
  list-style: none;
}
li {
  padding-right: 5px;
}

.res-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.res-card {
  text-align: left;
  padding: 5px;
  margin: 10px;
  width: 200px;
}
.res-img {
  border-radius: 20px;
  width: 100%;
}
.res-card:hover {
  background-color: lightgrey;
  border: 1px solid rgb(204, 241, 216);
  cursor: pointer;
}
.btn-search:hover {
  background-color: aliceblue;
  cursor: pointer;
}
